body {
  font-family: "Poppins", sans-serif;
}

.page-content {
  margin-top: 100px;
}

.form-control {
  background-color: #f3f3f3;
}

footer {
  border-top: 1px solid #e4e4e4;
  margin-top: 130px;

  p {
    color: #979797;
  }

  ul.list-inline li.list-inline-item a {
    color: #ff9900; /* Ganti dengan kode warna yang Anda inginkan */
    text-decoration: none; /* Hilangkan garis bawah pada tautan */
    transition: color 0.3s ease;

    &:hover {
      color: #e60000;
    }
  }
}
